<header class="pet-project-goit">
  <nav class="navigation-list">
    <ul class="pet-project-goit-list">
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">Basic JS</a>
      </li>
      <li class="pet-project-goit-list__item">
        <a href="./partials/JS-6/js.html" class="pet-project-goit-list__link"
          >JS-6</a
        >
      </li>
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">JS-7</a>
      </li>
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">JS-8</a>
      </li>
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">JS-9</a>
      </li>
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">JS-10</a>
      </li>
      <li class="pet-project-goit-list__item">
        <a href="" class="pet-project-goit-list__link">JS-11</a>
      </li>
    </ul>
  </nav>
</header>
